{% load static %}
{% comment %} base.html {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Dashboard</title>
    {% endblock %}
    {% block style %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% endblock %}
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <h1 id="brand">NTS</h1>
            <div class="logout-div">
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </div>
            <nav class="navbar">
                <a href="{% url 'profile' %}" class="right">Profile</a>
                <a href="{% url 'feed' %}">Feed</a>
                {% if principal %}
                    <a href="{% url 'media_upload' %}">Upload</a>
                    <a href="{% url 'teacher_view' %}">View</a>
                {% elif is_teacher %}
                    <a href="{% url 'media_upload' %}">Upload</a>
                    <a href="{% url 'teacher_view' %}">View</a>
                {% elif is_superuser %}
                    <a href="{% url 'media_upload' %}">Upload</a>
                    <a href="{% url 'teacher_view' %}">View</a>
                    <a href="{% url 'admin:index' %}">Admin Page</a>
                {% endif %}
            </nav>
        </header>

        <main class="container">
            {% block content %}
            {% endblock %}
        </main>
    </div>
    {% block script %}

{% endblock script %}
    <footer class="footer">
        <p>&copy; 2024 NTS. All rights reserved.</p>
    </footer>
</body>
</html>
