{% extends "base.html" %}
<style>

</style>
{% block content %}
   <h1>Welcome, {{ user.username }}</h1>
   {% comment %} <p>Email: {{ user.email }}</p> {% endcomment %}

   <h2>Change Password</h2>
   <form method="post">
       {% csrf_token %}
       {{ form.as_p }}

       <button type="submit">Change Password</button>
   </form>

   {% if form.errors %}
       <div class="form-errors">
           {{ form.errors }}
       </div>
   {% endif %}
   
   <a href="{% url 'password_reset' %}">Forgot Password</a>
{% endblock %}
