{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
   {% block content %}
   <h1>Welcome, {{ user.username }}</h1>
   {% comment %} <p>Email: {{ user.email }}</p> {% endcomment %}

   <h2>Change Password</h2>
   <form method="post">
       {% csrf_token %}
       {{ form.as_p }}

       <button type="submit">Change Password</button>
   </form>
   <a href="{% url "password_reset" %}">Forgot Password</a>
   {% endblock  %}
</body>
</html>
