{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Department List</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <h1 class="mt-3">Department List</h1>
        <a href="{% url 'add_department' %}" class="btn btn-primary mb-3">Add New Department</a>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for department in departments %}
                        <tr>
                            <td>{{ department.id }}</td>
                            <td>{{ department.dept_name }}</td>
                            <td>
                                <div class="action-buttons">
                                    <a href="{% url 'edit_department' department.id %}" class="btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i> Edit</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
