{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}
<title>Edit</title>
{% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/edit.css' %}"> 
{% endblock style %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center vh-10">
        <div class="edit-card">
            <div class="card shadow-lg">
                <div class="card-header">
                    {% if upload %}
                        <h2 class="mb-0">Edit Upload</h2>
                    {% elif archive %}
                        <h2 class="mb-0">Edit Archive</h2>
                    {% elif trash %}
                        <h2 class="mb-0">Edit Trash</h2>
                    {% endif %}
                </div>
                <div class="card-body p-4">
                    <form action="{% url 'media_upload' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_title" class="form-label">Title</label>
                            {{ form.title|add_class:"form-control" }}
                        </div>
                        <div class="mb-3">
                            <label for="id_description" class="form-label">Description</label>
                            {{ form.description|add_class:"form-control" }}
                        </div>
                        <div class="mb-3">
                            <label for="id_file" class="form-label">File</label>
                            {{ form.file|add_class:"form-control" }}
                        </div>
                        <div class="mb-3">
                            <label for="id_dept" class="form-label">Department</label>
                            {{ form.dept|add_class:"form-control" }}
                        </div>
                        <div class="mb-3 form-check">
                            {{ form.student|add_class:"form-check-input" }}
                            <label class="form-check-label" for="id_student">Student</label>
                        </div>
                        <div class="mb-3 form-check">
                            {{ form.teacher|add_class:"form-check-input" }}
                            <label class="form-check-label" for="id_teacher">Teacher</label>
                        </div>
                        <div class="mb-3">
                            <label for="id_media_category" class="form-label">Category</label>
                            {{ form.media_category|add_class:"form-select" }}
                        </div>
                        <button type="submit" class="btn btn-upload">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}