{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Edit</title>
{% endblock title %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">  
    <link rel="stylesheet" href="{% static 'css/media_upload.css' %}">
    <style>
        .alert {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
        }
        
        .alert.success {
            color: #3c763d;
            background-color: #dff0d8;
            border-color: #d6e9c6;
        }
    </style>
{% endblock style %}
{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Save Changes</button>
    </form>
    {% if messages %}
        {% for message in messages %}
            <div class="alert success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}