{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Upload</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/upload.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="upload-card">
        <div class="card shadow-lg">
            <div class="card-header">
                <h2 class="mb-0">Upload Media</h2>
            </div>
            <div class="card-body p-4">
                <form action="{% url 'media_upload' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_title" class="form-label">Title</label>
                        {{ form.title }}
                    </div>
                    <div class="mb-3">
                        <label for="id_description" class="form-label">Description</label>
                        {{ form.description }}
                    </div>
                    <div class="mb-3">
                        <label for="id_file" class="form-label">File</label>
                        {{ form.file }}
                    </div>
                    <div class="mb-3">
                        <label for="id_dept" class="form-label">Department</label>
                        {{ form.dept }}
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="id_student" name="student">
                        <label class="form-check-label" for="id_student">Student</label>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="id_teacher" name="teacher">
                        <label class="form-check-label" for="id_teacher">Teacher</label>
                    </div>
                    <div class="mb-3">
                        <label for="id_dept" class="form-label">Category</label>
                        {{ form.media_category }}
                    </div>
                    <button type="submit" name="action" value="upload" class="btn btn-upload"><i class="btn bi-upload"></i>Upload</button>
                    <button type="submit" name="action" value="archive" class="btn btn-secondary w-100 mt-3"><i class="btn bi-archive"></i>Archive</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
