{% extends "base.html" %}
{% load static %}
    {% block title %}
        <title>Upload</title>
    {% endblock %}
    {% block style %}
        
    {% endblock %}


{% block content %}
    <div class="upload-container">
        <form action="{% url "media_upload" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" name="action" value="upload">Upload</button>
            <button type="submit" name="action" value="archive">Archive</button>
        </form>
    </div>
    {% endblock content %}  

