{% extends 'base.html' %}

{% block title %}<title>Profile</title>{% endblock %}

{% block style %}
<style>
    .profile_container {
        margin: 20px auto;
        max-width: 600px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
    }
    .profile_container ul {
        list-style: none;
        padding: 0;
    }
    .profile_container li {
        margin-bottom: 10px;
    }
</style>
{% endblock style %}

{% block content %}
<div class="mt-3">
    <div class="mt-3 text-center">
    <h3 class="mb-4 display-4">Profile</h3>
    </div>
</div>
<div class="container mt-4">
    <div class="profile_container">
        {% if is_teacher %}
        <ul>
            <li><strong>Name:</strong> {{ teacher_details.name }}</li>
            <li><strong>Username:</strong> {{ user.username }}</li>
            <li><strong>Designation:</strong> {{ teacher_details.get_designation_display }}</li>
            <li><strong>Department:</strong> {{ teacher_details.dept.dept_name }}</li>
            <li><strong>HOD:</strong> {{ teacher_details.hod|yesno:"Yes,No" }}</li>
        </ul>
        
        {% elif is_student %}
        <ul>
            <li><strong>Name:</strong> {{ student_details.name }}</li>
            <li><strong>Username:</strong> {{ user.username }}</li>
            <li><strong>Admission Number:</strong> {{ student_details.admn_no }}</li>
            <li><strong>Programme:</strong> {{ student_details.pgm.pgm_name }}</li>
            <li><strong>Gender:</strong> {{ student_details.get_gender_display }}</li>
            <li><strong>Year of Admission:</strong> {{ student_details.year_of_admission }}</li>
        </ul>
        {% elif is_superuser %}
        <ul>
            <li><strong>Name:</strong> {{ admin_details.first_name }} {{admin_details.last_name}}</li>
            <li><strong>Username:</strong> {{ admin_details.username }}</li>
            <li><strong>Email:</strong> {{ admin_details.email }}</li>
        </ul>
        {% endif %}
        <div class="mt-3 text-center">
            <a href="{% url 'change_password' %}" class="btn btn-primary">Change Password</a>
        </div>
    </div>
</div>
{% endblock %}
