{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Programme List</title>
{% endblock title %}

{% block style %}
    <style>
        .action-buttons a {
            margin-right: 5px;
        }
        .table-responsive {
            margin: 20px auto;
            max-width: 95%;
        }
    </style>
{% endblock style %}

{% block content %}
    <div class="container">
        <h1 class="mt-3">Programme List</h1>
        <a href="{% url 'add_programme' %}" class="btn btn-primary mb-3">Add New Programme</a>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Grad Level</th>
                        <th>Department</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for programme in programmes %}
                        <tr>
                            <td>{{ programme.id }}</td>
                            <td>{{ programme.pgm_name }}</td>
                            <td>{{ programme.grad_level }}</td>
                            <td>{{ programme.dept_id.dept_name }}</td>
                            <td>
                                <a href="{% url 'edit_programme' programme.id %}" class="btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i> Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
