{% extends "base.html" %}
{% load static %}

{% block style %}
<style>
    .action-column {
        white-space: nowrap;
        width: 150px;
    }
    .action-buttons a {
        margin-right: 5px;
    }
    .table-responsive {
        margin: 20px auto;
        max-width: 95%;
    }
    .add-button {
        margin-bottom: 10px;
    }
    .table thead th {
        background-color: #343a40;
        color: white;
    }
    .table td, .table th {
        border: 1px solid #dee2e6;
    }
    .fixed-width {
        width: 150px;
    }
</style>
{% endblock style %}

{% block content %}
<div class="mt-3">
    <div class="mt-3 text-center">
    <h3 class="mb-4 display-4">{% if teacher %}Teachers{% elif student %}Students{% endif %}</h3>
    </div>
</div>
    {% if teacher %}
        <a href="{% url 'add_teacher' %}" class="btn btn-primary mb-3"><i class="bi bi-person-add"></i> Add Teacher</a>
        
        <div class="row">
            {% elif student %}
            <a href="{% url 'add_student' %}" class="btn btn-primary mb-3"><i class="bi bi-person-add"></i> Add Student</a>
            {% endif %}
        <p class="d-inline-flex gap-1">
            <a class="btn btn-primary float-end" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Filter<i class="bi bi-filter"></i>
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <form method="get" class="filter-form mb-3" id="filterForm">
                    {{ filter.form }}
                    <button type="submit" class="btn btn-primary me-2">Filter</button>
                    <button type="button" class="btn btn-secondary" onclick="clearForm()">Clear</button>
                </form>
            </div>
        </div>
            
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped align-middle" >
                    <thead class="thead-dark">
                        <tr>
                            <th class="fixed-width">Name</th>
                            <th class="action-column">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if teachers %}
                        {% for item in teachers %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a href="{% url 'edit_teacher' item.id %}" class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i>Edit</a>
                                    <a href="{% url 'delete_teacher' item.id %}" class="btn btn-danger btn-sm delete" onclick="return confirm('Are you sure you want to delete this teacher?');"><i class="bi bi-trash">Delete</i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% elif students %}
                    {% for item in students %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td class="text-center">
                                <div class="action-buttons">
                                    <a href="{% url 'edit_student' item.id %}" class="btn btn-primary btn-sm"><i class="bi bi-pencil">Edit</i></a>
                                    <a href="{% url 'delete_student' item.id %}" class="btn btn-danger btn-sm delete" onclick="return confirm('Are you sure you want to delete this student?');"><i class="bi bi-trash">Delete</i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock content %}
{% block script %}
<script>
    function clearForm() {
        const form = document.getElementById('filterForm');
        form.reset();
        // Remove query parameters from URL and reload the page
        const url = new URL(window.location);
        url.search = '';
        window.history.pushState({}, '', url);
        location.reload();
    }
</script>
{% endblock script %}