{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<style>
    
    .filter-form {
        margin-bottom: 20px;
    }
    .filter-form input, .filter-form select, .filter-form button {
        margin-right: 10px;
    }
    .media-table {
        width: 100%;
        border-collapse: collapse;
    }
    .media-table th, .media-table td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    .media-table th {
        background-color: #f2f2f2;
        text-align: left;
    }
</style>
{% endblock style %}
{% block content %}
<!-- Button to toggle edit mode -->

<form method="get" class="filter-form" id="filterForm">
    {{ form.as_p }}
    <button type="submit">Filter</button>
    <button type="button" onclick="clearForm()">Clear</button>
</form>
<!-- Table to display media items -->
<table id="media-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Type</th>
            <th>Uploaded By</th>
            <th>Uploaded At</th>
            <th>File</th>
            <th class="action-column">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in medias %}
        <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.media_type }}</td>
            <td>{{ item.uploaded_by }}</td>
            <td>{{ item.uploaded_at }}</td>
            <td>
                {% if item.file %}
                    <a href="{{ item.file.url }}" target="_blank">View File</a>
                {% else %}
                    No File Uploaded
                {% endif %}
            </td>
            <td class="action-column">
                <a href="{% url 'view_media' item.id %}">
                    <button>More</button>
                   </a> /
                <a href="{% url 'edit_media' item.id %}">
                 <button>Edit</button>
                </a> /
                <a href="{% url 'delete_media' item.id %}"
                onclick="return confirm('Are you sure you want to delete?')">
                    <button>Delete</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block script %}
<script>
    function clearForm() {
        const form = document.getElementById('filterForm');
        form.reset();
        // Remove query parameters from URL and reload the page
        const url = new URL(window.location);
        url.search = '';
        window.history.pushState({}, '', url);
        location.reload();
    }
</script>
{% endblock %}
