{% extends "base.html" %}
{% load static %}
{% block style %}


{% endblock style %}
{% block content %}
<!-- Button to toggle edit mode -->
{% if uploads %}
    <h3>Uploads</h3>
{% elif archive %}
    <h3>Archive</h3>
{% elif trash %}
    <h3>Trash</h3>
{% endif %}
<form method="get" class="filter-form" id="filterForm">
    {{ form.as_p }}
    <button type="submit">Filter</button>
    <button type="button" onclick="clearForm()">Clear</button>
</form>
<!-- Table to display media items -->
<table id="media-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Type</th>
            <th>Uploaded By</th>
            <th>Uploaded At</th>
            <th>File</th>
            <th class="action-column">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in medias %}
        <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.media_type }}</td>
            <td>{{ item.created_by }}</td>
            <td>{{ item.created_at }}</td>
            <td>
                {% if item.file %}
                    <a href="{{ item.file.url }}" target="_blank">View File</a>
                {% else %}
                    No File Uploaded
                {% endif %}
            </td>
            {% if uploads %}
            <td class="action-column">
                <a href="{% url 'swap_type' item.id %}">
                    <button>Archive</button>
                   </a> /
                <a href="{% url 'edit_media' item.id %}">
                 <button>Edit</button>
                </a> /
                <a href="{% url 'move_to_trash' item.id %}"
                onclick="return confirm('Are you sure you want to delete?')">
                    <button>Delete</button>
                </a>
            </td>
            {% elif archive %}
            <td class="action-column">
                <a href="{% url 'swap_type' item.id %}">
                    <button>Upload</button>
                   </a> /
                <a href="{% url 'edit_media' item.id %}">
                 <button>Edit</button>
                </a> /
                <a href="{% url 'move_to_trash' item.id %}"
                onclick="return confirm('Are you sure you want to delete?')">
                    <button>Delete</button>
                </a>
            </td>
            {% elif trash %}
            <td class="action-column">
                <a href="{% url 'restore' item.id %}">
                    <button>Restore</button>
                   </a> /
                <a href="{% url 'edit_trash' item.id %}">
                 <button>Edit</button>
                </a> /
                <a href="{% url 'delete_media' item.id %}"
                onclick="return confirm('Are you sure you want to delete?')">
                    <button>Delete</button>
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block script %}
<script>
    function clearForm() {
        const form = document.getElementById('filterForm');
        form.reset();
        // Remove query parameters from URL and reload the page
        const url = new URL(window.location);
        url.search = '';
        window.history.pushState({}, '', url);
        location.reload();
    }
</script>
{% endblock %}
