{% extends "base.html" %}
{% load static %}
{% block title %}
<title>View</title>
{% endblock title %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">  
    <link rel="stylesheet" href="{% static 'css/media_upload.css' %}">
{% endblock style %}
{% block content %}
<ul>
    
    <li>{{media.title}}</li>
    <li>{{media.description}}</li>
    <li>{{media.uploaded_by}}</li>
    <li>{{media.pgm}}</li>
    <li>{{media.student}}</li>
    <li>{{media.teacher}}</li>
    <a href="{% url 'edit_media' media.id %}">Edit</a>
    <a href="{% url "teacher_view" %}">Go Back</a>

</ul>
{% endblock content %}